body {
    background-color: #183b5a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
    background-color: hwb(0 2% 95%)), 94%);
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #337ab7;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: rgb(104, 66, 66)000;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #337ab7;
    margin-bottom: 10px;
}

input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button[type="button"] {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #23527c;
}

footer {
    background-color: #080077;
    padding: 1em;
    text-align: center;
    clear: both;
}
.img {
    width: 300px;
    align-self: center;}